* {
    display: block;
    text-align: center;

}

title {
    display: none;
}

.body-section {
    justify-content: center;
}

.button {
    justify-content: center;
    margin: 25px;
}

.button :hover {
    cursor: pointer;
}